.card-selected {
  border: 2.5px solid #8F74DD;
}

.content-login-padding {
  margin: 0 6em 2em !important;
}

.card-span {
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 24px;
}

.ant-card-body {
  padding: 24px 24px 0 24px;
}
