.btn-group {
  display: grid;
  margin: 0 !important;
  margin-top: 2em !important;

  button {
    border-radius: 8px;
    font-size: 16px;
    margin-bottom: 1em;
    text-transform: uppercase;

    &:hover {
      opacity: 0.8;
    }

    &:disabled {
      opacity: 0.5;
    }
  }

  .facebook-button {
    background-color: #2C88D9 !important;
    border-color: #2C88D9 !important;
  }

  .google-button {
    background-color: #EB4632 !important;
    border-color: #EB4632 !important;
  }
}

.content-login-padding {
  margin: 0 6em 2em !important;

  @media (max-width: 425px) {
    font-size: 1.2em;
    text-align: center;
  }
}

.card-selected {
  border: 1px solid #8F74DD;
  border-radius: 8px;
}

.login-card {
  background-color: transparent;

  .card-span {
    @media (max-width: 425px) {
      font-size: 1.2em;
      text-align: center;
    }
  }

  img {
    width: 400;
    max-width: 100%;
  }
}
