.logo {
  width: 270px;
  float: left;
  padding-top: 5px;
}

.anticon {
  font-size: 15px;
}

.ant-menu,
.ant-menu-item {
  font-size: 16px !important;
  color: #6597EB !important;
}

.ant-menu-horizontal {
  height: inherit;
  line-height: 64px;
  float: right;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #6597EB !important;
  border-bottom: 2px solid #6597EB !important;
}
