.login-btn {
  &:hover {
    background-color: #6999EB;
    color: white !important;
  }
}

.logo {
  width: 270px;
  float: left;
  padding-top: 5px;

  @media (orientation: portrait) {
    display: none;
  }
}

.logo-mobile {
  width: 50px;
  float: left;
  padding-top: 5px;

  @media (orientation: landscape) {
    display: none;
  }
}


.anticon {
  font-size: 15px;
}

.logo-mobile {
  width: 50px;
  float: left;
  padding-top: 5px;

  @media (orientation: landscape) {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  float: right;
  height: inherit;
}

.menu button {
  margin-left: 2em;
}

.svg-inline--fa {
  margin-right: 0.5em;
}
