.logo {
  width: 270px;
  float: left;
  padding-top: 5px;

  @media (orientation: portrait) {
    display: none;
  }
}

.logo-mobile {
  width: 50px;
  float: left;
  padding-top: 5px;

  @media (orientation: landscape) {
    display: none;
  }
}


.anticon {
  font-size: 15px;
}

.logo-mobile {
  width: 50px;
  float: left;
  padding-top: 5px;

  @media (orientation: landscape) {
    display: none;
  }
}

.menu {
  display: flex;
  align-items: center;
  float: right;
  height: inherit;

  a {
    color: #6597EB !important;
  }
}

.menu button {
  margin-left: 2em;
}

.menu-container .menu-mobile {
  display: contents;

  .menu-hamburguer {
    height: 100% !important;
  }
}

.svg-inline--fa {
  margin-right: 0.5em;
}
