html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: white !important;
}

// ANT DESIGN OVERRIDES

#root,
.ant-layout {
  background-color: white !important;
  height: 100% !important;
}

.ant-layout-header {
  background-color: white !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}

.ant-layout-content {
  overflow-x: hidden;
}

.ant-layout-footer {
  padding: 15px 50px !important;
  color: white !important;
  background: #1A5A79CC !important;
  display: flex !important;
  justify-content: space-evenly !important;
}
