body {
  margin: 0;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

// ANT DESIGN OVERRIDES

.ant-layout {
  min-height: calc(100vh - 70px) !important;
}

.ant-layout-header {
  background-color: white !important;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.20);
}
