.ant-card {
  margin-bottom: 2em;
  border-radius: 8px;

  &:hover {
    box-shadow: 1px 2px 2px #707070B3;
  }
}

.ant-card-actions {
  border-radius: 0 0 8px 8px;
}

.ant-card-actions a {
  color: #6597EB !important;
  font-weight: bold !important;
}

.ant-card-actions > li {
  margin: 8px 0 !important;
}

.ant-card-cover img {
  border-radius: 8px 8px 0 0;
}

.check-icon {
  color: #009500;
}
