.social-network {
    padding: 5px;

}

.ant-col-4 {
  background-color: #f3f3f3;
}

.ant-col-4 .ant-descriptions-row > th {
  padding-bottom: 0 !important;
}

.ant-descriptions-title {
  margin-bottom: 0 !important;
  font-weight: normal;
}

.button-reprovado {
  border-color: #FA8072;
  color: #FA8072	;
}

.button-reprovado:hover {
  color: white;
  background: #FA8072;
  border-color: #FA8072
}

.ant-avatar-string {
  svg {
    margin: 0;
  }
}

.ant-space-item:nth-child(2) {
  height: 100%;
}