.logo {
  width: 150px;
  margin: 16px 0;
  float: left;
}

.anticon {
  font-size: 15px;
}

.ant-menu,
.ant-menu-item {
  font-size: 16px !important;
  color: #1A5A79 !important;
}

.ant-menu-horizontal {
  height: inherit;
  line-height: 64px;
  float: right;
}

.ant-menu-horizontal > .ant-menu-item:hover,
.ant-menu-horizontal > .ant-menu-submenu:hover,
.ant-menu-horizontal > .ant-menu-item-active,
.ant-menu-horizontal > .ant-menu-submenu-active,
.ant-menu-horizontal > .ant-menu-item-open,
.ant-menu-horizontal > .ant-menu-submenu-open,
.ant-menu-horizontal > .ant-menu-item-selected,
.ant-menu-horizontal > .ant-menu-submenu-selected {
  color: #1A5A79 !important;
  border-bottom: 2px solid #1A5A79 !important;
}
