#root,
.ant-layout {
  background-color: white !important;
  height: 100% !important;
}

.ant-layout-header {
  background-color: white !important;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.20);
  z-index: 1;
  padding: 0 1rem 0 1rem !important;

  @media (orientation: landscape) {
    padding: 0 2rem 0 2rem !important;
  }
}

.ant-menu-submenu-title {
  padding: 0;
}

.ant-layout-content {
  overflow-x: hidden;
  background-color: #eeeeee;
}

.ant-layout-footer {
  background-color: white !important;
  padding: 15px 50px !important;
  display: flex !important;
  justify-content: space-evenly !important;
}

.ant-divider-inner-text {
  font-size: 25px;
  color: #6597EB;
}

.ant-divider-horizontal.ant-divider-with-text-center::before,
.ant-divider-horizontal.ant-divider-with-text-left::before,
.ant-divider-horizontal.ant-divider-with-text-right::before,
.ant-divider-horizontal.ant-divider-with-text-center::after,
.ant-divider-horizontal.ant-divider-with-text-left::after,
.ant-divider-horizontal.ant-divider-with-text-right::after {
  border-top: 1px solid #6597EB !important;
}

.image-upload,
.ant-form-item-label > label {
  font-weight: bold;
  color: #6597EB !important;
}

.ant-btn-primary {
  background-color: #6597EB !important;
  border-color: #6597EB !important;
  color: #fff !important;
  padding: 0px 7px !important;
}

.ant-btn-default {
  border-color: #6597EB !important;
  color: #6597EB !important;
}

.ant-radio-group,
.ant-radio-group-outline {
  display: grid !important;
}

.ant-card-meta-title,
.ant-descriptions-item-label,
.ant-form-vertical .ant-form-item-label > label {
  color: #666666 !important;
  font-weight: bold !important;
}

.ant-descriptions-item-content {
  font-style: italic !important;
}

.ant-menu,
.ant-menu-item {
  color: #6597EB !important;
}

.ant-menu-horizontal {
  border-bottom: 2px solid rgba(0, 0, 0, 0.2) !important;

  .ant-menu-item:hover, .ant-menu-submenu:hover, .ant-menu-item-active,
  .ant-menu-submenu-active, .ant-menu-item-open, .ant-menu-submenu-open,
  .ant-menu-item-selected, .ant-menu-submenu-selected {
    color: #6597EB !important;
    border-bottom: 2px solid #6597EB !important;
  }


  .ant-menu-item-disabled:hover {
    color: rgba(0, 0, 0, 0.25) !important;
    border-bottom: 2px solid transparent !important;
  }
}
