@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  font-family: 'Roboto' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.row-table {
  width: 70%;
  margin: 10px auto !important;
}

h3 {
  color: #6597EB !important;
}

.content-padding {
  margin: 0 1rem 0 1rem !important;

  @media (orientation: landscape) {
    margin: 0 3rem 0 3rem !important;
  }
}

.heart-icon {
  color: red;
  margin: 0 5px 0 5px;
}

.empty-box {
  .ant-card {
    width: 100%;
  }

  .ant-card-body {
    padding: 4rem 2rem 4rem 2rem;
    text-align: center;
  }

  button, p {
    font-weight: bold;
  }

  p {
    font-size: 16px;
    margin-bottom: 2em;

    &:first-child {
      margin-bottom: 1em;
    }
  }
}

.btn-outline {
  border-color: #6999EB !important;

  .anticon {
    color: #6999EB !important;
  }

  &:hover {
    background-color: #6999EB !important;
    color: white !important;

    svg {
      fill: white
    }

    &:disabled {
      background-color: white !important;
      color: #6999EB !important;
    }
  }
}

.divider-style {
  @media (max-width: 425px) {
    white-space: normal;
  }
}

.event-img {
  align-items: center;
  background-color: #f3f3f3;
  color: #a3a3a3;
  display: flex;
  font-size: 2em;
  height: 150px;
  justify-content: center;
  margin: 0;
  overflow: hidden;
  width: 100%;
}

.event-details {
  height: 4em;
  width: 5em;

  .fa-image {
    margin: 0;
  }
}
