.content-banner{
    background-color: #ececec;
    padding: 30px !important;

    img{
        height: 250px;
        margin: 0 auto;
        box-shadow: 0 30px 80px 10px rgba(0, 0, 0, .12), 0 11px 30px -7px rgba(0, 0, 0, .3);
    }
}
.content-detalhe{
    margin-top: 30px;

    .card{
        width: 300px;
    }
}

// Margin
$mt-15: 15px; 
$mt-30: 30px;

// Padding
$pt-15: 15px;
$pt-30: 30px;
$pr-50: 50px;

.mt-15{
    margin-top: 15px;
}
.mt-30{
    margin-top: 50px;
}
.pr-50{
    padding-right: 50px;
}