%alignment {
  text-align: center;
}

.listed {
  width: 80%;
  margin: 0 auto;
  @extend %alignment;
}

.listed li:hover {
  background-color: #fff;
}

.listed__lecture {
  @extend %alignment;
  width: 1000px;
  text-decoration: none;
  color: #000;
}

.listed__lecture-status {
  @extend %alignment;
  vertical-align: middle;
}

.listed__lecture-status--approved {
  color: #7cb305;
}

.listed__lecture-status--in-analysis {
  color: #d4b106;
}

.listed__lecture-status--rejected {
  color: #f5222d;
}

.row-table {
  width: 70%;
  margin: 10px auto !important;
}

.ant-table-cell a,
.ant-pagination-item a {
  color: #1a5a79 !important;
}

.ant-pagination-item-active {
  border-color: #1a5a79;
}

.ant-pagination.mini .ant-pagination-prev .ant-pagination-item-link, .ant-pagination.mini .ant-pagination-next .ant-pagination-item-link {
  border-color: #d8d8d8;
}

.ant-pagination-item-link span {
  color: #d8d8d8;
}

.ant-table-row > .ant-table-cell:first-child {
  font-weight: bold;
}

.status-cell {
  text-align: center;
}

.status-cell span {
  margin: 0;
}
