%alignment {
  text-align: center;
}

.listed {
  margin: 0 auto;
  @extend %alignment;
}

.listed li:hover {
  background-color: #fff;
}

.listed__lecture {
  @extend %alignment;
  width: 1000px;
  text-decoration: none;
  color: #000;
}

.listed__lecture-status {
  @extend %alignment;
  vertical-align: middle;
}

.listed__lecture-status--approved {
  color: #7cb305;
}

.listed__lecture-status--in-analysis {
  color: #d4b106;
}

.listed__lecture-status--rejected {
  color: #f5222d;
}
